body{
  background-color: #3E3131;
  mix-blend-mode: overlay;
  border-radius: 20px;
  padding-top:15px;
  padding-left: 2px;
}

.one{
background-image: url(https://images.unsplash.com/photo-1505682634904-d7c8d95cdc50?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
position: relative;
isolation: isolate;
mix-blend-mode: multiply;
height:750px;
border:5px white solid;
border-radius: 40px;
display: flex;
}
.one::before{
  content: " ";
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 5px #B46A6A solid;
  border-radius: 40px;
}
.seven{
  height: 30px;
  width: 30px;
  margin-top: 20px;
  position: relative;
  top: 6px;
}
.three{
  color: white;
  margin-top: 70%;
  margin-left: 10%;
  font-size: 30px;
  text-transform: uppercase;
}
span{
  backdrop-filter: blur(15px);
  background: rgba(180,106,106, 0.4);
  padding: 30px ;
  margin-left: 30px;
  display: inline-block;width: 40%;
  border-radius: 30px;
  
}
.five{
  color: white;
  font-size: 25px;
  background-color: transparent;
}
.six{
  background-color: transparent;
  border: none;
  padding: 20px;
  color: white;
  font-size: 20px;
}
.eight{
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.4);
  height: 70%;
  width: 30%;
  margin-top: 5%;
  border-radius: 15px;
}
.nine{
  text-align: center;
  color: white;
}
.eleven{
  display: block;
  margin: 8px 0;
  margin-top: 30px;
  padding: 12px 20px;
  width: 91%;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom:3px #3E3131 solid;
  color: white;
  font-size: 20px;
}
::placeholder{
  color: white;
  font-size: 20px;
}
.label{
  position: relative;
  top: -25px;
  margin-left: 0px;  
}
.button{
  margin-top: 5px;
  margin-left: 35%;
  padding: 10px 10px 10px 10px ;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 25px;
  text-transform: capitalize;
}
